################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.nupkg
/packages
/.vs/Sikiro.Tookits/v15
/Sikiro.Tookits/bin/Debug
